@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body,
html {
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #0080ff, #00bfff);
  background-attachment: fixed;
  color: #fff;
  font-family: 'Acme', sans-serif;
}

.main-page {
  height: 100%;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 35px;
  align-items: center;
}

.logo{
 display: flex;
 align-items: center;
 gap:5px;
}

#logo-img{
  width: 55px;
  height: 55px;
}

.logo-name{
  font-size: 24px;
}

.buttons > button{
  padding: 7px 40px;
  font-size: 18px;
  border-radius: 5px;
  border: transparent;
  margin-left: 10px;
  cursor: pointer;
  background-color: #ece5e5;
  font-family: 'Acme', sans-serif;
}

.custom-button {
  background: transparent;
  border: none; 
  cursor: pointer;
}

.custom-button img {
  width: 30px;
  height: 30px;
}

form{
  border-radius: 8px;
  background-color: #ece5e5;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 50px;
  border: 1px solid transparent;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

input[type="search"] {
  border: none;
  background: transparent;
  padding: 7px;
  font-size: 18px;
  border: 1px solid transparent;
  width: 350px;
  font-family: 'Acme', sans-serif;
}

input[type="search"]:focus {
  border-color: transparent;
  outline: none;
}

.center{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.degree{
 margin-top: 10px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  font-size: 90px; 
  font-weight: bold; 
}

.city-name{
  font-size: 36px;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Lucida Sans', sans-serif;
}

.date{
  font-size: 22px;
  text-align: center;
  color: #e6e5e5;
  letter-spacing: 1px;
  margin-top: 3px;
}

.weather-description{
  font-size: 26px;
  text-align: center;
}

.week-temp{
  display: flex;
  justify-content: center;
  gap:20px;
  margin:20px;
  letter-spacing: 1px;
}

.week-temp>div{
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
}

.daily-temp{
  font-size: 24px;
  margin: 5px;
}

.daily-temp-description{
  font-size: 16px;
  color: #e6e5e5;
}

.right-side{
  padding: 30px;
  text-align: center;
  letter-spacing: 1px;
}

.greeting,
.day{
  font-size: 24px;
  padding: 10px;
  font-family: 'Lucida Sans', sans-serif;
}

.details-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 490px;
  height: 400px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 40px auto 50px auto;
  gap:30px;
}

.details-container> div{
  background-color: #127eca;
  border-radius: 8px;
  font-size: 22px;
}

.details-title{
  color: #e6e5e5;
}

.right-grade{
  font-size: 36px;
}

.feels-like{
  font-size: 20px;
  color: #e6e5e5;
  text-align: center;
}